gloomlet[name="reader"] {
	/*.reader_content {
		display: grid;
		grid-template-columns: 0.5fr min-content 0.5fr;
		grid-template-rows: repeat(6, min-content);
		grid-auto-rows: 1fr;
		gap: 0px 0px;
		grid-auto-flow: row;
		grid-template-areas:
			"above_page above_page above_page"
			"comicpage comicpage comicpage"
			". comicpage_nav_bottom ."
			"author_notes author_notes author_notes"
			"comments comments comments";
	}*/



	.above_page {
		/*display: grid;
		grid-area: above_page;*/
		justify-content: center;

		&>layout {
			display: flex;
			flex-direction: column;
			height: -webkit-fill-available;
			width: -moz-available;
			align-items: center;

			&>* {
				max-width: 100%;
			}
		}

		@media (min-width: 590px) {
			&>layout {
				display: flex;
				flex-direction: row;
				justify-content: center;
				flex-wrap: wrap;
				width: -webkit-fill-available;
				width: -moz-available;

				&>* {
					max-width: 100%;
				}
			}
		}
	}



	/*	.page_info_wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		max-width: 800px;
	}*/

	.page_container {
		display: grid;
		place-content: center;
		grid-template-columns: repeat(3, min-content);
		gap: 0px 0px;
		grid-template-areas:
			"nav_left comic nav_right"
			". alt_text ."
			". . .";

		z-index: 0;

		@media (max-width: 700px) {
			layout {
				display: none;
			}
		}

		layout {
			flex-wrap: wrap;
			place-content: center;
		}
	}

	.comicpage {
		display: grid;
		justify-self: center;
		grid-auto-columns: 1fr;
		grid-template-areas: "comic_img";
	}

	.comicpage img {
		grid-area: comic_img;
	}

	.reader_help {
		/*display: grid;
		grid-area: comic_img;*/
		justify-self: center;
	}

	.reader_settings {
		align-content: flex-end;

		.scale_selector,
		.help_button {
			float: inline-end;
		}
	}

	.comicpage_info_wrapper {
		.flow-row {
			justify-content: flex-start;
		}

		span,h1,h2,h3,h4 {
			padding: 0 .15rem;
			margin-bottom: 0;
		}
	}

	/*.comicpage_nav_bottom {
		grid-area: comicpage_nav_bottom;
	}*/

	/*.author_notes {
		grid-area: author_notes;
		justify-self: center;
	}*/

	/*.comments {
		grid-area: comments;
		justify-self: center;
	}*/

	/* style nav button images */
	.comicpage_nav {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
		padding: 10px 0px;
		margin: 0 auto;
	}

	.nav_button {
		padding: 0 10px;
		cursor: pointer;
	}

	.nav_button img {
		width: 50px;
		filter: drop-shadow(2px 2px 2px #0008);
	}

	.hide_nav,
	.nav_button.hide_nav img {
		opacity: 0;
		height: 0;
	}

	.nav_button.nav_last img,
	.nav_button.nav_next img {
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
	}

	/* style comic page image */
	/*
	.comicpage_info_wrapper,
	.scale_selector {
		color: var(--background-color);
		font-size: 18px;
		padding: 8px;

		background-color: var(--sitenav-background-color);
		border-color: var(--text-link-color);
		border-width: 1px;
		border-style: solid;
	}
*/
	.help_button,
	.scale_selector,
	.reader_settings li {
		cursor: pointer;
	}

	.help_button,
	.scale_selector {
		transition: all 0.5s ease;
		width: fit-content;
		padding-bottom: 2px;
		padding-left: 4px;
		padding-right: 4px;
	}

	.reader_settings.hide_dropdown>dropdown {
		display: none;
	}

	.reader_settings dropdown {
		position: fixed;
		right: var(--scrollbar-width);
		margin: 12px;
		padding: 4px;
		line-height: 24px;
		z-index: 1;
		width: fit-content;

		ul {
			padding-inline-start: 14px;
			margin-block-start: 0;
			margin-block-end: 0;
		}
	}

	/*
	.reader_settings.hide_dropdown > div::after {
		font-size: 12px;
		transform: translateY(2px);

		padding-left: 4px;
		content: "◀";
	}

	.reader_settings:not(.hide_dropdown) > div::after {
		font-size: 12px;
		transform: translateY(2px);
		padding-left: 4px;
		content: "▼";
	}
*/
	#comicpage {
		max-width: calc(100vw - var(--scrollbar-width) - 12px);
		/*width: 100%;*/
		overflow-x: auto;
		text-align: center;
	}

	.page_img {
		place-self: center;
	}

	.colorize_page {
		mix-blend-mode: luminosity;
	}

	#comicpage img {
		width: auto;
		height: auto;
	}

	/*	#comicpage img::after {
		content: url(/img/reader_help.png);
	}*/

	#comicpage.fit_width img {
		width: calc(100vw - var(--scrollbar-width) - 12px);
		height: auto;
	}

	#comicpage.fit_original,
	#comicpage.fit_height {
		overflow-x: auto;
	}

	#comicpage.fit_height img {
		height: calc(100vh - var(--scrollbar-width));
		width: auto;
	}

	#comicpage.fit_both img {
		max-width: calc(100vw - var(--scrollbar-width) - 12px);
		max-height: 100vh;
		width: auto;
		height: auto;
	}

	#comicpage.fit_original img {
		width: unset;
		height: unset;
	}

	.text_description_toggle {
		width: fit-content;
		margin-left: auto;
		padding: 4px;
		padding-top: 20px;
		margin-top: -20px;
		margin-right: 40px;
		position: relative;
		z-index: -5;
	}

	.text_description {
		position: relative;
		z-index: -10;
		padding: 0.5rem;
		padding-top: 40px;
		margin: 0 20px;
		margin-top: -140px;
		margin-bottom: 40px;
		grid-template-rows: 0fr;
		display: grid;
		transition: margin-top 0.5s ease-in-out,
			grid-template-rows 0.5s ease-in-out, margin-bottom 0.5s ease-in-out;

		&>div {
			overflow: hidden;
		}
	}

	.text_description.open {
		margin-top: -40px;
		grid-template-rows: 1fr;
		margin-bottom: 0px;
	}

	.author_notes {
		max-width: 800px;
		margin-top: .5rem;
		margin-bottom: 1.5rem;
		padding: 0 .5rem;

		.flow-row {
			flex-wrap: nowrap
		}

		.text {
			float: inline-start;
			padding: 0 1em;
		}

		img {
			/* height: 200px; */
			width: auto;
			float: inline-end;
		}
	}

	.rendered-form * {
		box-sizing: border-box
	}

	.rendered-form button,
	.rendered-form input,
	.rendered-form select,
	.rendered-form textarea {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit
	}

	.rendered-form input {
		line-height: normal
	}

	.rendered-form textarea {
		overflow: auto
	}

	.rendered-form button,
	.rendered-form input,
	.rendered-form select,
	.rendered-form textarea {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit
	}

	.rendered-form .btn-group {
		position: relative;
		display: inline-block;
		vertical-align: middle
	}

	.rendered-form .btn-group>.btn {
		position: relative;
		float: left
	}

	.rendered-form .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0
	}

	.rendered-form .btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
		border-radius: 0
	}

	.rendered-form .btn-group .btn+.btn,
	.rendered-form .btn-group .btn+.btn-group,
	.rendered-form .btn-group .btn-group+.btn,
	.rendered-form .btn-group .btn-group+.btn-group {
		margin-left: -1px
	}

	.rendered-form .btn-group>.btn:last-child:not(:first-child),
	.rendered-form .btn-group>.dropdown-toggle:not(:first-child),
	.rendered-form .btn-group .input-group .form-control:last-child,
	.rendered-form .btn-group .input-group-addon:last-child,
	.rendered-form .btn-group .input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
	.rendered-form .btn-group .input-group-btn:first-child>.btn:not(:first-child),
	.rendered-form .btn-group .input-group-btn:last-child>.btn,
	.rendered-form .btn-group .input-group-btn:last-child>.btn-group>.btn,
	.rendered-form .btn-group .input-group-btn:last-child>.dropdown-toggle {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0
	}

	.rendered-form .btn-group>.btn.active,
	.rendered-form .btn-group>.btn:active,
	.rendered-form .btn-group>.btn:focus,
	.rendered-form .btn-group>.btn:hover {
		z-index: 2
	}

	.rendered-form .btn {
		display: inline-block;
		padding: 6px 12px;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		touch-action: manipulation;
		cursor: pointer;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border-radius: 4px
	}

	.rendered-form .btn.btn-lg {
		padding: 10px 16px;
		font-size: 18px;
		line-height: 1.3333333;
		border-radius: 6px
	}

	.rendered-form .btn.btn-sm {
		padding: 5px 10px;
		font-size: 12px;
		line-height: 1.5;
		border-radius: 3px
	}

	.rendered-form .btn.btn-xs {
		padding: 1px 5px;
		font-size: 12px;
		line-height: 1.5;
		border-radius: 3px
	}

	.rendered-form .btn.active,
	.rendered-form .btn.btn-active,
	.rendered-form .btn:active {
		background-image: none
	}

	.rendered-form .input-group .form-control:last-child,
	.rendered-form .input-group-addon:last-child,
	.rendered-form .input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
	.rendered-form .input-group-btn:first-child>.btn:not(:first-child),
	.rendered-form .input-group-btn:last-child>.btn,
	.rendered-form .input-group-btn:last-child>.btn-group>.btn,
	.rendered-form .input-group-btn:last-child>.dropdown-toggle {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0
	}

	.rendered-form .input-group .form-control,
	.rendered-form .input-group-addon,
	.rendered-form .input-group-btn {
		display: table-cell
	}

	.rendered-form .input-group-lg>.form-control,
	.rendered-form .input-group-lg>.input-group-addon,
	.rendered-form .input-group-lg>.input-group-btn>.btn {
		height: 46px;
		padding: 10px 16px;
		font-size: 18px;
		line-height: 1.3333333
	}

	.rendered-form .input-group {
		position: relative;
		display: table;
		border-collapse: separate
	}

	.rendered-form .input-group .form-control {
		position: relative;
		z-index: 2;
		float: left;
		width: 100%;
		margin-bottom: 0
	}

	.rendered-form .form-control,
	.rendered-form output {
		font-size: 14px;
		line-height: 1.42857143;
		display: block
	}

	.rendered-form textarea.form-control {
		height: auto
	}

	.rendered-form .form-control {
		height: 34px;
		display: block;
		width: 100%;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		border-radius: 4px
	}

	.rendered-form .form-control:focus {
		outline: 0;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
	}

	.rendered-form .form-group {
		margin-left: 0px;
		margin-bottom: 15px
	}

	.rendered-form .btn,
	.rendered-form .form-control {
		background-image: none
	}

	.rendered-form .pull-right {
		float: right
	}

	.rendered-form .pull-left {
		float: left
	}

	.rendered-form .formbuilder-required,
	.rendered-form .required-asterisk {
		color: #c10000
	}

	.rendered-form .formbuilder-checkbox-group input[type='checkbox'],
	.rendered-form .formbuilder-checkbox-group input[type='radio'],
	.rendered-form .formbuilder-radio-group input[type='checkbox'],
	.rendered-form .formbuilder-radio-group input[type='radio'] {
		margin: 0 4px 0 0
	}

	.rendered-form .formbuilder-checkbox-inline,
	.rendered-form .formbuilder-radio-inline {
		margin-right: 8px;
		display: inline-block;
		vertical-align: middle;
		padding-left: 0
	}

	.rendered-form .formbuilder-checkbox-inline label input[type='text'],
	.rendered-form .formbuilder-radio-inline label input[type='text'] {
		margin-top: 0
	}

	.rendered-form .formbuilder-checkbox-inline:first-child,
	.rendered-form .formbuilder-radio-inline:first-child {
		padding-left: 0
	}

	.rendered-form .formbuilder-autocomplete-list {
		background-color: #fff;
		display: none;
		list-style: none;
		padding: 0;
		border: 1px solid #ccc;
		border-width: 0 1px 1px;
		position: absolute;
		z-index: 20;
		max-height: 200px;
		overflow-y: auto
	}

	.rendered-form .formbuilder-autocomplete-list li {
		display: none;
		cursor: default;
		padding: 5px;
		margin: 0;
		transition: background-color 200ms ease-in-out
	}

	.rendered-form .formbuilder-autocomplete-list li:hover,
	.rendered-form .formbuilder-autocomplete-list li.active-option {
		background-color: rgba(0, 0, 0, 0.075)
	}

	.rendered-form .kc-toggle {
		padding-left: 0 !important
	}

	.rendered-form .kc-toggle span {
		position: relative;
		width: 48px;
		height: 24px;
		background: #e6e6e6;
		display: inline-block;
		border-radius: 4px;
		border: 1px solid #ccc;
		padding: 2px;
		overflow: hidden;
		float: left;
		margin-right: 5px;
		will-change: transform
	}

	.rendered-form .kc-toggle span::after,
	.rendered-form .kc-toggle span::before {
		position: absolute;
		display: inline-block;
		top: 0
	}

	.rendered-form .kc-toggle span::after {
		position: relative;
		content: '';
		width: 50%;
		height: 100%;
		left: 0;
		border-radius: 3px;
		background: linear-gradient(to bottom, #fff 0%, #ccc 100%);
		border: 1px solid #999;
		transition: transform 100ms;
		transform: translateX(0)
	}

	.rendered-form .kc-toggle span::before {
		border-radius: 4px;
		top: 2px;
		left: 2px;
		content: '';
		width: calc(100% - 4px);
		height: 18px;
		box-shadow: 0 0 1px 1px #b3b3b3 inset;
		background-color: transparent
	}

	.rendered-form .kc-toggle input {
		height: 0;
		overflow: hidden;
		width: 0;
		opacity: 0;
		pointer-events: none;
		margin: 0
	}

	.rendered-form .kc-toggle input:checked+span::after {
		transform: translateX(100%)
	}

	.rendered-form .kc-toggle input:checked+span::before {
		background-color: #6fc665
	}

	.rendered-form label {
		font-weight: normal
	}

	.form-group .formbuilder-required {
		color: #c10000
	}

	.other-option:checked+label input {
		display: inline-block
	}

	.other-val {
		margin-left: 5px;
		display: none
	}

	*[tooltip] {
		position: relative
	}

	*[tooltip]:hover::after {
		background: var(--sitenav-background-color);
        border-radius: 5px 5px 5px 0;
        bottom: 27px;
        color: var(--accent-color);
        content: attr(tooltip);
        padding: 10px 5px;
        position: absolute;
        z-index: 98;
        left: 4px;
        width: max-content;
        text-shadow: none;
        font-size: 1rem;
        line-height: 1rem;
	}

	*[tooltip]:hover::before {
		border: solid;
        border-color: var(--sitenav-background-color) transparent;
        border-width: 6px 6px 0;
        bottom: 22px;
        content: '';
        left: 4px;
        position: absolute;
        z-index: 99;
	}

	.tooltip-element {
		color: var(--accent-color);
        background: var(--sitenav-background-color);
        width: 20px;
        height: 20px;
        border-radius: 19px;
        display: inline-block;
        text-align: center;
        line-height: 20px;
        margin: 0 5px;
        font-size: 1rem;
	}

	.form-control.number {
		width: auto
	}

	.form-control[type='color'] {
		width: 60px;
		padding: 2px;
		display: inline-block
	}

	.form-control[multiple] {
		height: auto
	}

}