gloomlet[name="chimebar"] > #chimebar[data-dir="up"] {

		padding-bottom: 0;
		padding-top: 60px;

		& > a.logo {
			bottom: 76px;
			left: 8px;
			font-size: 62px;
		}

		a:hover {
			opacity: 1;
		}

		small,
		p {
			color: var(--background-color);
			font-family: unset;
			font-size: unset;
			font-weight: unset;
			font-style: unset;
		}
	
}