gloomlet[name="pagetop"] {
	& .header {
		max-height: 240px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	& .background-arch {
		--inset: 143px;
		--width: 100;
		--slice: 1426;
		border-image: url(/gloomlets/pagetop/header_arch_box.png);
		border-style: solid;
		border-image-slice: 0 var(--slice) 0 var(--slice);
		border-image-width: 0px var(--width) 0px var(--width);
		border-image-outset: 0px var(--inset) 0px var(--inset);
		border-image-repeat: space space;
		height: 236px;
	}

	& .language {
		margin-bottom: -2rem;
		height: fit-content;
		width: fit-content;
		background-color: var(--background-color);
		padding: 6px;
		border-radius: 100vw;
		z-index: 5;

		& a {
			cursor: pointer;
		}
	}

	& .logo {
		display: flex;

		& a {
			opacity: 1;
		}

		/*place-self: end;*/
	}

	& .logo img {
		max-width: 100%;
		max-height: 230px;
		margin-top: 12px;
	}

	/* separator */
	& .language a:not(:last-child)::after {
		content: var(--menu-separator-character, "|");
		padding: 0 10px;
	}
}
